{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "mocha"
    ],
    "rules": {
        "mocha/no-exclusive-tests": 2,
        "no-console": 0,
        "semi": [2, "always"]
    }
}